input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
    color: #535353;
    text-align: center;
    font-size: 18px;
  }
  
.index-content p{
  padding: 0 0 23px;
}

button{
  height:56px;
  width:200px;
  margin: 10px;
  background-color:#85DB83;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  color: white;
}

button:hover{
  background-color:#42ad41;
  transition: all 0.4s linear;
}

.button-first-page{
  position: relative;
  left: 181px;
}
button:focus{
  border: 2px solid #85DB83;
  outline: none;
}

button a{
  text-decoration: none;
  color: #ffffff;
  
}

body{
  background-color: #EAFFEA;
  width:100%;
  font-family:'Lato', sans-serif;
}

.container{
  width: 85%;
  margin-left: 69px;
}

.header{
  width: 100%;
  /* position: absolute;
  top: 0; */
}

.header a{
  text-decoration: none;
  color: #729F7C;
}

.logo-nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#logoCatDog{
    width: 80px;
    margin: 16px;
    margin-left: 0px;
  }  

.navigation ul{
   list-style: none;
  }
  
.navigation ul li{
  display: inline-block;
}
  
.navigation ul li a{
display: inline-block;
padding: 0.5rem 1rem; 
transition: all 0.4s linear;
border-radius: 7px ;
}
  
.navigation ul li a:hover{
background: #85DB83;
color: #ffffff;
}

h1{
  color: #535353;
  font-size: 4vw;
  font-family:'Roboto', sans-serif;
  text-align: center;
  padding-bottom: 20px;
}



h2{
  color: #535353;
  font-size: 24px;
  line-height: 28px;
  margin: 20px;
  text-align: center;
}

span{
  color: #DAB91C;
}

.index{
  /* position: fixed;
  top: 90px; */
  padding-top: 46px;
  margin-top: 26px;
  padding-left: 6%;
  
}

.index-content{
  float: left;
  width: 49.99999%;
  margin-bottom: 5%;
}

.text{
  font-size: calc(1em + 0.1vw);
  width: 90%;
  padding-left: 10%;

}

div.index-content img{
  float: left;
  max-width: 80%;
  height: auto;
}

.second-page-text{
  font-size: calc(1em + 0.1vw);
  width: 90%;
  padding-left: 10%;
  margin-bottom: 1rem;
}

.packs{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}

ul{
  list-style-type: none;
  text-align: center;
  padding: 0 0 10px;
}

.packs p{
  padding: 0 0 10px;
}

#img-cat-dog{
  width: 20%;
  margin: 25px;
}

/*Third page*/
.container-form{
  max-width: 850px;
  margin: 1rem auto;
  width: 85%;
}
.paragraph-title{
  padding: 0 20%;
  margin:  0 0 2em 0;
}

form {
  max-width: 850px;
  margin: 1rem auto;
  padding: 20px;
  text-align: right;
}
label{
  font-size: 18px;
  margin-right: 2em;
}

input, select{
  border: 2px solid #B7B6B6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 15px;
  box-sizing: border-box;
  display: inline-block;
  height: 40px;
  margin: 4px 0;
  outline: none;
  padding: 0px 20px;
  width: 401px;
  
}

input:focus {
  border-radius: 15px;
  border: 2px solid #85DB83;
}

select:focus {
  border-radius: 15px;
  border: 2px solid #85DB83;
}

.buttons-form-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer{
  /* position: fixed; */
  /* left: 0;
  bottom: 0; */
  background: #85DB83;
  margin-top: 10px;
  overflow: hidden; 
  padding: 10px 0;
  width: 100%;
}

footer p{
  font-size: 13px;
  background-color: #85DB83;
  color: #ffffff;
}